<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :EV_to_EBITDA %><br>
    <%= f.number_field :EV_to_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :P_to_E %><br>
    <%= f.number_field :P_to_E %>
  </div>
  <div class="field">
    <%= f.label :P_to_B %><br>
    <%= f.number_field :P_to_B %>
  </div>
  <div class="field">
    <%= f.label :P_to_FCF %><br>
    <%= f.number_field :P_to_FCF %>
  </div>
  <div class="field">
    <%= f.label :marketcap %><br>
    <%= f.number_field :marketcap %>
  </div>
  <div class="field">
    <%= f.label :ROE %><br>
    <%= f.number_field :ROE %>
  </div>
  <div class="field">
    <%= f.label :ROA %><br>
    <%= f.number_field :ROA %>
  </div>
  <div class="field">
    <%= f.label :ROCI %><br>
    <%= f.number_field :ROCI %>
  </div>
  <div class="field">
    <%= f.label :EV_to_FCF %><br>
    <%= f.number_field :EV_to_FCF %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :sector %><br>
    <%= f.text_field :sector %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :ticker_symbol %><br>
    <%= f.text_field :ticker_symbol %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
